/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&family=Space+Mono&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}
/* Some Variables*/
:root{
    --green-color: #2cb815 ;
    --light-green-color: #c0eb7b;
    --orange-color:#ff7e00 ;
    --light-orange-color: #f75f1d;
    --text-color: #1a2428;
    --ng-color: #fff ;
}
section{
    padding: 4.5rem 0 1.5rem;
}
img {
    width: 100%;
}
body{
    color: var(--text-color);
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-color);
    box-shadow: 0 8px 11px rgb(14 55 54 / 15%);
    padding: 20px 100px;
    transition: 0.5s ;
    background-color: #fff;
}
.profile {
    display: flex; 
    align-items: center;
    column-gap: 2.5rem;
    cursor: pointer;
}
.profile img{
    width:40px;
    height: 40px;
    object-fit: cover; 
    object-position: center;
    border-radius: 50%;
}
.profile span{
    font-size: 13px;
    font-weight: 500;
}

.logo{
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--text-color);
    column-gap: 0.5rem;
}
.logo .bx {
    font-size: 24px;
    color: var(--orange-color)
}
.navbar {
    display: flex;
    column-gap: 0.5rem;
}
.navbar a{
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);
    padding: 0.5rem 1rem;
}
.navbar a:hover, 
.navbar .home-active {
   background: var(--green-color);
   border-radius: 5rem;
   color: var(--bg-color);
   transition: background 0.5s;
}
#menu-icon{
    font-size: 24px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}
.container{
    position: relative;
    width: 100%;
    min-height: 640px;
    display: flex;
    align-items: center;
    background: url(background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-y: hidden;
}


.container img {
    width: 400px;
    position: absolute;
    bottom: -5px;
    right: 200px;
}

.home-text{
    position: absolute;
    top: 200px;
    left: 100px;

}
.home-text span{
    font-weight: 400;
    text-transform: uppercase;
    color: var(--green-color);
}

.home-text h1{
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 1rem ;
}
.btn {
    padding: 0.6rem 1rem;
    background: var(--green-color);
    color:  var(--ng-color);
    font-weight: 400px;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 0.5rem;
    max-width: 160px;
}

.btn .bx {
    padding: 4px;
    background: var(--ng-color);
    color: var(--text-color);
    border-radius: 1rem;
    font-size: 20px;
    margin: auto;
}
.btn:hover {
    background: var(--light-orange-color);
    transition: 0.2s ease;
}

.swiper-button-next {
    background: url(right-fleche-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    margin-right: 20px;
}

.swiper-button-next ::after {
    display: none;
}

.swiper-button-prev {
    background: url(left-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    margin-left: 20px;
}

.swiper-button-prev ::after {
    display: none;
}
.heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.heading h1{
    font-size: 1.6rem;
    font-weight: 600p;
}
.heading span{
    color: var(--green-color);
}
.categories {
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
}
.categories-conatiner{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,auto));
    gap: 1rem;
    margin-top: 2rem;
}
.categories-conatiner .box{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 0.5rem;
}
.categories-conatiner .box img{
    width: 100%;
    height: 100px;
    object-fit: contain;
    object-position: center;
}
.categories-conatiner .box h2{
    font-size: 1rem;
    font-weight: 600;
}
.categories-conatiner .box span{
    font-size: 0.8rem;
    font-weight: 400;
    margin-bottom: 1rem;
}
.categories-conatiner .box .bx{
    padding: 10px;
    background: var(--green-color);
    color: var(--bg-color);
    border-radius: 5rem;
    margin-top: 2rem;
    position: absolute;
    bottom: -8%;
    display: none;
}

.categories-conatiner .box .bx:hover{
    background-color: var(--light-orange-color);
    transition: 0.2s all linear;
}
.categories-conatiner .box:hover .bx{
    display: block;
    transition: 0.2s all linear;
}

.box1{
    background: #fef4ea;
}
.box2{
    background: #e9f4e3;
}

.box3{
    background: #faeaea;
}

.box4{
    background: #eeeef9;
}

.box5{
    background: #f7f6d7;
}
.product {
max-width: 968px;
margin-left: auto;
margin-right: auto;
}
.products-conatiner{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(260px,auto));
    gap: 1.5rem;
    margin-top: 0.5rem;
}
.products-conatiner .box{
    padding: 20px;
    box-shadow: 1px 2px 11px 4px rgb(14 55 54 / 15%);
    border-radius: 0.5rem;
    position: relative;
}
.products-conatiner .box .img{
    width: 100%;
    height: 100px;
    object-fit: contain;
    object-position: center;
}
.products-conatiner .box .span{
    font-weight: 500;
    font-size: 13px;

}

.products-conatiner .box .h2{
    font-size: 1rem;
    font-weight: 600;
    margin-top: 0.5rem;
    color: var(--light-orange-color)
}
.info{
    margin-bottom: 1500px absolute;
}
